Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(?:config|database|src|views|storage|Docs|tests)(?:/|$) - [F,L,NC]
    RewriteRule ^(?:\.git)(?:/|$) - [F,L,NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<FilesMatch "\.(env|ini|log|sql|md|yml|yaml|json|lock)$">
    Require all denied
</FilesMatch>
